<% include partials/header %>

<form class="form-signin" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
  <div class="text-center mb-4">
    <img class="mb-2" src="/images/logo.png" alt="yeepkamp logo" width="100" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Edit <%= campground.name %></h1>
    <a  class="btn btn-info" href="/campgrounds/<%= campground._id %>">Go Back</a>
  </div>

  <div class="form-label-group">
    <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
    <label for="name">name</label>
  </div>  

  <div class="form-label-group">
    <input class="form-control" type="number" name="campground[price]" value="<%= campground.price %>" min="0.01" step="0.01"> 
    <label for="price">price</label>
  </div>

  <div class="form-label-group">
    <input class="form-control" type="text" name="campground[image]" value="<%= campground.image %>">
    <label for="image">image</label>
  </div>

  <div class="form-label-group">
    <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>">
    <label for="location">Location</label>
  </div>

  <div class="form-group">
    <textarea class="form-control" name="campground[desc]"><%= campground.desc %></textarea>
  </div>

  <button class="btn btn-lg btn-success btn-block" type="submit">Finish</button>
  <p class="mt-5 mb-3 text-muted text-center">YeepKamp&copy; 2018-2019</p>
</form>