<% include partials/header %>

<main role="main">

  <section class="jumbotron text-center bg-dark">
    <div class="container spaced--top">
      <h1 class="jumbotron-heading">Select a Campground</h1>
      <p class="lead text-muted">Carefully hand-picked for you from top campsites all over the world</p>
      <p>
        <a href="/campgrounds/new" class="btn btn-primary my-2">Add new Campground</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <% campGrounds.forEach(camp => { %>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
              <img src="<%= camp.image %>" class="card-img-top img-fluid" alt="<%= camp.name %>">
              <div class="card-body">
                <h6 class="card-title meta-user">
                  <strong><%= camp.name %></strong>
                  <em> by
                    <a class="meta-anchor" href="#"> 
                      <%= camp.author.username %>
                    </a>
                  </em>
                </h6>
                <div class="justify-content-between align-items-center">
                  <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary btn-sm">see more</a>
                </div>
              </div>
            </div>
          </div>
        <% }) %>

      </div>
    </div>
  </div>

</main>

<% include partials/footer %>
