<% include partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">YK Username</p>
      <div class="list-group">
        <li class="list-group-item active">info 1</li>
        <li class="list-group-item">info 3</li>
        <li class="list-group-item">info 2</li>

        <div class="actions back">
          <a 
          class="btn btn-primary"
          href="/campgrounds">Back
          </a>
        </div>
      </div>
    </div>
    
    <!-- Right Section -->
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="image-responsive" src="<%= campground.image %>" alt="picture of <%= campground.name %>">

        <div class="caption-full">
          <h4 class="pull-right price"><strong>$<%= campground.price %>/night</strong></h4>
          <h4>
            <a href=""><%= campground.name %></a>
            <span class="meta-user">
              <em>
                by <%= campground.author.username %>
              </em>
            </span>
          </h4>
          <p class="desc">
            <%= campground.desc %>
          </p>
          <div>

          <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
            <div class="actions">
              <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning btn-sm">Edit</a>

              <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-sm">Remove</button>
              </form>
            </div>
          <% } %>
          </div>
        </div>
      </div>

      <div class="well">
        <div class="col-lg-6">
          <% if (campground.comments.length < 1) { %>
            <h4 class="reviews-header">Be the first to add a review</h4>
          <% } else { %>
            <h4 class="reviews-header">All Reviews</h4>
          <% } %>
        </div>
        <div class="text-right">
          <a 
          class="btn btn-warning"
          href="/campgrounds/<%= campground._id %>/comments/new">Add a review
          </a>
        </div>
        <hr />
        <% campground.comments.forEach(comment => { %>
          <div class="row">
            <div class="col-md-12 comment">
              <strong><%= comment.author.username %></strong>
              <span class="pull-right"><%= comment.createdAt.toDateString() %></span>
              <p class="desc"><%= comment.text %></p>
              <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-xs btn-warning">edit comment</a>
                <form class="inline-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-xs btn-danger">remove comment</button>
                </form>
              <% } %>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>